@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');







@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: custom styles */
body {
  font-family: 'DM Sans', sans-serif;
    background-color: #f8f8f8;

}
/* Hide scrollbar for Chrome, Safari, Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Optional smooth scrolling */
.hide-scrollbar {
  scroll-behavior: smooth;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
